.container{
    display: flex;
    position: relative;
    top: 2px;
}

.movies{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;

}

main.container{
    margin-left: 7%;
    margin-right: 7%;
}
